RewriteEngine on


RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]]

Options -Indexes

# Rewrite for last.php
RewriteRule ^last/([a-zA-Z]+)/([a-zA-Z]+)/([a-z0-9A-Z]+)/([a-zA-Z]+)/([0-9]+) last.php?upd=$1&cat=$2$&srt=$3pg=$4&page=$5 [L]

# Rewrite for popular.php
RewriteRule ^popular/([a-zA-Z]+)/([a-zA-Z]+)/([a-z0-9A-Z]+)/([a-zA-Z]+)/([0-9]+) popular.php?mst=$1&cat=$2&srt=$3&pg=$4&page=$5 [NC,L]

# Rewrite for category.php
RewriteRule ^category/([0-9a-zA-Z]+)/([0-9a-zA-Z%&-()]+) category.php?c_id=$1&name=$2 [NC,L]

# Rewrite for sms.php
#RewriteRule ^sms/([0-9]+)/([0-9a-zA-Z.-]+)/([0-9a-zA-Z]+)/([0-9]+) sms.php?c_id=$1&name=$2&pg=$3&page=$4 [NC,L]
RewriteRule ^sms/([0-9]+)/(.*)/([0-9a-zA-Z]+)/([0-9]+) sms.php?c_id=$1&name=$2&pg=$3&page=$4 [NC,L]

# Rewrite for top.php
RewriteRule ^top/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/([0-9]+) top.php?name=$1&pg=$2&page=$3 [NC,L]

# Rewrite for search.php
#RewriteRule ^search/([a-zA-Z]+)/([a-zA-Z]+)/(.*)/([a-zA-Z]+)/([0-9]+) search.php?type=$1&name=$2&keyword=$3&pg=$4&page=$5 [NC,L]
RewriteRule ^search/(.*)/([a-zA-Z]+)/([0-9]+) search.php?search=$1&pg=$2&page=$3 [NC,L]

# Rewrite for user.php
RewriteRule ^user/([0-9a-zA-Z]+)/([0-9]+)/([0-9a-zA-Z]+)/([0-9]+) user.php?name=$1&u_id=$2&pg=$3&page=$4 [NC,L]

# Rewrite for like.php
RewriteRule ^like/([0-9]+) like.php?l_id=$1 [NC,L]

# Rewrite for login.php
RewriteRule ^login/([a-zA-Z]+) login.php?msg=$1 [NC,L]

# Rewrite for register.php
RewriteRule ^register/([a-zA-Z]+) register.php?msg=$1 [NC,L]

# Rewrite for disclaimer.php
RewriteRule ^disclaimer disclaimer.php [NC,L]

# Rewrite for contact.php
RewriteRule ^contact contact.php [NC,L]

# Rewrite for account.php
RewriteRule ^account/([a-zA-Z]+) account.php?msg=$1 [NC,L]

# Rewrite for addsms.php
RewriteRule ^addsms/([a-zA-Z]+) addsms.php?msg=$1 [NC,L]

# Rewrite for mysms.php
RewriteRule ^mysms/([a-zA-Z]+)/([0-9]+) mysms.php?pg=$1&page=$2 [NC,L]

# Rewrite for logout.php
RewriteRule ^logout logout.php [NC,L]

# Rewrite for password.php
RewriteRule ^password/([a-zA-Z]+) password.php?msg=$1 [NC,L]

# Rewrite for view.php
RewriteRule ^view/([a-zA-Z]+)/([0-9]+) view.php?name=$1&sms_id=$2 [NC,L]

# ErrorDocument 404 https://www.dailysmsmaza.com/

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php72” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php72 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
