@media only screen and (min-width:1761px) and (max-width:1870px)

{

   /*.sharechart{margin-right: 4%;}*/

   /*.oc-export-btn{right:15%;}*/



}

@media only screen and  (max-width:1756px){

	 /*.sharechart{margin-right: 9%;}*/

}



@media only screen and (min-width:1602px) and (max-width:1750px)

{

    /*.sharechart{margin-right: 10%;}*/

   /*.oc-export-btn{right:15%;}*/



}

@media only screen and (min-width:1601px) and (max-width:1640px)

{

    /*.sharechart{margin-right: 12%;}*/

   /*.oc-export-btn{right:15%;}*/



}

@media only screen and (min-width:1509px) and (max-width:1600px)

{

    /*.sharechart{margin-right: 15%;}*/

  /*.oc-export-btn{right:15%;}*/



}

@media only screen and (min-width:1423px) and (max-width:1508px)

{

      /*.sharechart{margin-right: 18%;}*/

}

@media only screen and (min-width:1401px) and (max-width:1423px)

{

      /*.sharechart{margin-right: 20%;}*/

}



@media only screen and (min-width:1203px) and (max-width:1400px)

{

    /*.oc-export-btn{right:19%;}*/

    /*.sharechart{margin-right: 25%;}*/

   



}

@media only screen and (min-width:1202px) and (max-width:1315px)

{

    /*.oc-export-btn{right:22%;}*/

    /*.sharechart{margin-right: 30%;}*/

   



}

@media only screen and (max-width:1201px) 

{

   /*.sharechart{margin-right: 30%;}*/

   /*.oc-export-btn{right:19%;}*/

}



@media only screen and (min-width:1300px) and (max-width:1450px){

.maincontainer {max-width: 95%;}
.clsdashbord .col-lg-3 {-ms-flex: 0 0 33.3333%;  flex: 0 0 33.3333%; max-width: 33.3333%;}


}	

@media only screen and (min-width:1200px) and (max-width:1299px){

.maincontainer {max-width: 95%;}
.topnavbar li a {padding: 1rem 1rem;}
.clsdashbord .col-lg-3 {-ms-flex: 0 0 33.3333%;  flex: 0 0 33.3333%; max-width: 33.3333%;}

}	

@media only screen and (max-width: 1199px)
{
	.maincontainer {max-width: 95%;}
	.topnavbar {display: none;}
	.clsdashbord .col-lg-3 {-ms-flex: 0 0 50%;  flex: 0 0 50%; max-width: 50%;}	
	.clsmiddlesec .pageconent {padding: 100px 0px 100px;}
	.mainheader .logousersec .menuicon {display: block; left: inherit !important; right: 20px; position: absolute; }
	.desktopsecnone {display: inherit;}
	.topusersec {margin-right: 40px;}

	.hidesidebar.desktopsecnone {left: 0px !important;}
	.sidebar.desktopsecnone {left: -250px;}

	
	.sidebar ul li a:hover {color: #fff; background-color: #2679ea;}
	.sidebar ul li.active a {background-color: #fc7d02;}
	.sidebar ul li.active a:hover {background-color: #fc7d02;}






}	

@media only screen and (min-width:992px) and (max-width:1199px){

	

}	

@media only screen and (min-width:1025px) and (max-width:1199px)

{

	.form-horizontal input[type="file"]{width: 160px;}

	



	 /*.oc-export-btn{right:19%;}

    .sharechart{margin-right: 30px;}*/



}

@media only screen and (max-width: 1024px)

{

	/*.sharechart{margin-right: 36%;}*/

}	

@media only screen and (min-width:992px) and (max-width:1024px)

{

	.form-horizontal input[type="file"]{width: 160px;}

}

@media only screen and (max-width: 991px) {

	.whitebox .small-box.bg-aqua { margin-bottom: 15px; }

	.whitebox .col-lg-3:last-child .small-box.bg-aqua { margin-bottom: 0; }

	.form-horizontal .input-row .control-label { max-width: 50%;  margin-bottom: 0px;}

	.form-horizontal .input-row input { max-width: 49%; }

	.datafilter{display:inherit; }

	

}

@media only screen and (min-width: 768px) and (max-width: 991px)

{



	.depratmentfilter{margin-bottom: 15px;}

	.datafilter, .datafilter .form-horizontal{display: inherit;}

	.form-horizontal input[type="file"]{width: 130px;}
	.clsdashbord .col-lg-3 {-ms-flex: 0 0 50%;  flex: 0 0 50%; max-width: 50%;}

	.mobiletable{border:none; }
	.mobiletable tr{margin-bottom: 15px; display: block; border-bottom: 1px solid #cee5ea;}
	table.bt thead,table.bt tbody th{display:none;}
	table.bt tfoot th,table.bt tfoot td,table.bt tbody td{border:none;display:block;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;vertical-align:top;float:left\9;width:100%\9; padding: 0px; }
	table.bt tbody td{border: 1px solid #cee5ea; border-bottom: none; align-items: center; text-align: left;}
	table.bt tfoot th::before,table.bt tfoot td::before,table.bt tbody td::before{content:attr(data-th) ""; border-right:1px solid #cee5ea; display:inline-block;-webkit-flex-shrink:0;-ms-flex-shrink:0;flex-shrink:0;font-weight:bold;width:30%;}
	table.bt tfoot th.bt-hide,table.bt tfoot td.bt-hide,table.bt tbody td.bt-hide{display:none;}
	table.bt tfoot th .bt-content,table.bt tfoot td .bt-content,table.bt tbody td .bt-content{vertical-align:top;}
	.bt-wrapper.active{max-height:310px;overflow:auto;-webkit-overflow-scrolling:touch;}
	table.bt.bt--no-header tfoot td::before,table.bt.bt--no-header tbody td::before{display:none;}
	table.bt tfoot th:before,
	table.bt tfoot td:before,
	table.bt tbody td:before {background: #f2f8fb;margin-right: 10px;padding: 6px 10px; font-weight: 500; color: #333338;}
	.action-td a{width: 22px; height: 22px;}

	.form-horizontal .input-row a, .form-horizontal .input-row button{font-size: 12px; padding: 12px 10px;}

}



@media only screen and (max-width: 767px) {

	.header{padding: 0 15px;}

	.header-content{padding: 0px;}

	.mobilelogo{display: inherit;}

	.mobilelogo img{max-width: 140px;}

	.brandlogo{display: none;}

	.menuicon{padding: 10px 10px 10px 0;}

	.maincontentarea{margin-left: 0px;}

	.footer{left: 0px;}

	.menuicon{left: 0;}

	.sidebar{left: -250px;}

	.hidesidebar{left: 0px;}

	.pageconentbx{padding: 0;}



	/*---- responsive table ----*/

	.mobiletable{border:none; }
	.mobiletable tr{margin-bottom: 15px; display: block; border-bottom: 1px solid #cee5ea;}
	table.bt thead,table.bt tbody th{display:none;}
	table.bt tfoot th,table.bt tfoot td,table.bt tbody td{border:none;display:block;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;vertical-align:top;float:left\9;width:100%\9; padding: 0px; }
	table.bt tbody td{border: 1px solid #cee5ea; border-bottom: none; align-items: center; text-align: left;}
	table.bt tfoot th::before,table.bt tfoot td::before,table.bt tbody td::before{content:attr(data-th) "";border-right:1px solid #cee5ea; display:inline-block;-webkit-flex-shrink:0;-ms-flex-shrink:0;flex-shrink:0;font-weight:bold;width:30%;}
	table.bt tfoot th.bt-hide,table.bt tfoot td.bt-hide,table.bt tbody td.bt-hide{display:none;}
	table.bt tfoot th .bt-content,table.bt tfoot td .bt-content,table.bt tbody td .bt-content{vertical-align:top;}
	.bt-wrapper.active{max-height:310px;overflow:auto;-webkit-overflow-scrolling:touch;}
	table.bt.bt--no-header tfoot td::before,table.bt.bt--no-header tbody td::before{display:none;}
	table.bt tfoot th:before,
	table.bt tfoot td:before,
	table.bt tbody td:before {background: #f2f8fb;margin-right: 10px;padding: 6px 10px; font-weight: 500; color: #333338;}
	.action-td a{width: 22px; height: 22px;}



	.depratmentfilter{margin-bottom: 15px;}

	.datafilter, .datafilter .form-horizontal{display: flex; flex-wrap: wrap; flex-direction: column;}

	.form-horizontal input[type="file"]{width: 190px;}
	.clsdashbord .col-lg-3 {-ms-flex: 0 0 100%;  flex: 0 0 100%; max-width: 100%;}

	.mainheader .logousersec .menuicon {right: 10px; }
	
	.topusersec {margin-right: 40px;}

	.clsusrimage{display: block; border: 1px solid #cee5ea;}

	.tablesearch{flex-direction: column;}

}	

@media only screen and (min-width: 640px) and (max-width: 767px)

{



}

@media only screen and (max-width: 639px)

{	

	

}

@media only screen and (min-width: 577px) and (max-width: 639px)

{

	

}

@media only screen and (max-width: 576px)

{	

	.whitebox .tablesearchform { justify-content: center; }



	.form-horizontal .input-row input { max-width: 100%; margin-bottom: 10px;  }

	.form-horizontal .input-row{display: inherit; display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start;}

	.form-horizontal input[type="file"]{max-width: 70%;}
	

	.pageheding{display: inherit;}



}

@media only screen and (max-width: 479px)

{

	.mobiletable{font-size: 12px;}

	.inpbtn{margin-left:5px; padding: 8px 12px;}

	.gcspnewrightbtn {right: 15px;}
	
	.oc-export-btn {font-size: 12px !important; padding: 6px 8px !important; right: 117px; line-height: normal !important;}
	.gcspnewrightbtn {font-size: 12px !important; padding: 5px 8px !important; line-height: normal !important; border-radius: 4px !important;}
	.sharechart {font-size: 12px !important; padding: 6px 8px !important; right: 212px; line-height: normal !important;}

}

@media only screen and (max-width: 399px)

{

	.copyright{font-size: 12px;}

	.loginform{padding: 15px;}

	.loginform .form-control{padding: 6px 15px;}

	.loginform input[type="submit"]{padding: 6px 15px;}

	.userinfo{font-size: 12px;}



	.mobiletable{font-size: 11px;}

	table.bt tfoot th:before,

	table.bt tfoot td:before,

	table.bt tbody td:before {margin-right: 6px;padding: 5px 6px;}

	.tablesearchform{flex-wrap: wrap;}

	.inpbtn{margin: 10px 10px 0 0; padding: 6px 12px;}
	.clssmallinnerboxcom h2 {font-size: 17px;}
	
	
	.whitebox .tablesearch  .tablesearchform {display: block;}

	.clsusrdetailpg .mobiletable{font-size: 12px;}
	.clsusrdetailpg table th{min-width: 80px;}
	.clsusrdetailpg table th, .clsusrdetailpg table td{padding: 10px 5px;}

}

img {max-width: 100%; height: auto; /*width: auto\9;  ie8 */}



